@model ProductViewModel

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2>Create Product</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="ProductVM.Title" class="form-label"></label>
            <input asp-for="ProductVM.Title" class="form-control" />
            <span asp-validation-for="ProductVM.Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ProductVM.Description" class="form-label"></label>
            <textarea asp-for="ProductVM.Description" class="form-control"></textarea>
            <span asp-validation-for="ProductVM.Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ProductVM.Author" class="form-label"></label>
            <input asp-for="ProductVM.Author" class="form-control" />
            <span asp-validation-for="ProductVM.Author" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ProductVM.Price" class="form-label"></label>
            <input asp-for="ProductVM.Price" class="form-control" />
            <span asp-validation-for="ProductVM.Price" class="text-danger"></span>
        </div>
		<div class="mb-3">
			<label asp-for="ProductVM.CategoryId" class="form-label"></label>
			<select asp-for="ProductVM.CategoryId" asp-items="Model.CategoryList" class="form-control">
				<option value="">Select category</option>
			</select>
			<span asp-validation-for="ProductVM.CategoryId" class="text-danger"></span>
        <div class="row">
            <div class="col-md-6 col-12">
                <button type="submit" class="btn btn-success form-control">Create</button>
            </div>
            <div class="col-md-6 col-12">
                <a asp-controller="Product" asp-action="Index" class="btn btn-secondary form-control">Back</a>
            </div>
        </div>
    </div>
</form>