@model Category

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2>Delete Category</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control" disabled />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="OrderDisplay" class="form-label"></label>
            <input asp-for="OrderDisplay" class="form-control" disabled />
            <span asp-validation-for="OrderDisplay" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-md-6 col-12">
                <button type="submit" class="btn btn-danger form-control">Delete</button>
            </div>
            <div class="col-md-6 col-12">
                <a asp-controller="Category" asp-action="Index" class="btn btn-secondary form-control">Back</a>
            </div>
        </div>
    </div>
</form>